    <header id="postHead">
      <img src="{{article.url}}" alt=""/>
    </header>

    <h2 id="postTitle">{{article.titre}}</h2>

    {{article.date}}

    <section id="postContentText" class="container-fluid">
      <div class="container">
        {{{article.description}}}
      </div>
    </section>

    <section id="postPics" class="container-fluid">
      <div class="container">
        <img src="{{article.photos.url1}}" alt="">
      </div>
    </section>

    <hr>

    <footer class="box text-center d-flex align-items-center">
      <div class="w-100">
        <p>FOOTER</p>
      </div>
    </footer>
