<header id="postHeader" class="container-fluid text-center">
  <img class="img-fluid" src="../img/{{article.url}}" alt=""/>
</header>

<div id="postTitle" class="text-center">
  <h2 class="toGreen">{{article.titre}}</h2><hr>
  <p>{{article.date}}</p>
</div>

<section id="postContent">
  <div class="container">
    {{{article.description}}}
  </div>
</section>

<section class="text-center container">
  <div id="postPics" class="row">
    <div class="col-12">
      <img class="hover-shadow" src="../img/{{article.photos.url1}}" alt="" data-toggle="modal" data-target="#postModal">
    </div>
    <div class="col-6">
      <img class="hover-shadow" src="../img/{{article.photos.url2}}" alt="" data-toggle="modal" data-target="#postModal">
    </div>
    <div class="col-6">
      <img class="hover-shadow" src="../img/{{article.photos.url3}}" alt="" data-toggle="modal" data-target="#postModal">
    </div>
    <div class="col-12">
      <img class="hover-shadow" src="../img/{{article.photos.url4}}" alt="" data-toggle="modal" data-target="#postModal">
    </div>
    <div class="col-6">
      <img class="hover-shadow" src="../img/{{article.photos.url5}}" alt="" data-toggle="modal" data-target="#postModal">
    </div>
    <div class="col-6">
      <img class="hover-shadow" src="../img/{{article.photos.url6}}" alt="" data-toggle="modal" data-target="#postModal">
    </div>
    <div class="col-12">
      <img class="hover-shadow" src="../img/{{article.photos.url7}}" alt="" data-toggle="modal" data-target="#postModal">
    </div>
    <div class="col-6">
      <img class="hover-shadow" src="../img/{{article.photos.url8}}" alt="" data-toggle="modal" data-target="#postModal">
    </div>
    <div class="col-6">
      <img class="hover-shadow" src="../img/{{article.photos.url9}}" alt="" data-toggle="modal" data-target="#postModal">
    </div>
    <div class="col-12">
      <img class="hover-shadow" src="../img/{{article.photos.url10}}" alt="" data-toggle="modal" data-target="#postModal">
    </div>
  </div>

    <!-- >>>>>>>>> MODAL <<<<<<<<< -->
  <div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="modal-body">
          <img id="modalFocus" class="img-fluid" src="">
        </div>
      </div>
    </div>
  </div>
</section>


<hr>

<footer class="box text-center d-flex align-items-center">
  <div class="w-100">
    <p>FOOTER</p>
  </div>
</footer>
