<section id="membre" class="container-fluid">
    <div class="container-fluid filter">

        <p class="w-100 text-center"> > > > <a class="back" href="javascript:history.back()">Retour vers la page principale</a> < < < </p>

        <div class="row">

            <div id="membreId" class="col-12">
                <div class="row">
                    <div id="membrePic" class="col-12 text-center">
                        <img class="img-fluid" src="../img/{{membres.urlPicture}}"/>
                    </div>

                    <div id="membreDetails" class="col-4 offset-4 text-center">
                        <div id="membreNom">
                            <img class="img-fluid" src="../img/{{membres.urlNom}}"/>
                        </div>

                        <div id="membreSerial" class="offset-1 col-10">
                            <img class="img-fluid" src="../img/{{membres.urlSerial}}"/>
                        </div>

                        {{!-- <div id="membreSkills">
                            <p></p>
                        </div> --}}

                        <div id="membreContact">
                            <a href="mailto:{{membres.contact}}">{{membres.contact}}</a>
                        </div>

                        <div id="membreSite">
                            <a target="_blank" href="{{membres.site}}">{{membres.site}}</a>
                        </div>
                    </div>                    
                </div>
            </div>

            <div id="membreDesc" class="col-12">
                <div class="container text-center">
                    <hr>
                    <p id="description">
                    {{{membres.description}}}
                    </p>
                    <hr>
                </div>
            </div>

        </div>

        <div id="content">
            <div class="row">
                <div id="pictures" class="col-12">
                    <div id="picContent" class="d-flex flew-wrap justify-content-around">      
                        <div class="row">
                            <img class="img-fluid col-12 offset-md-2 col-md-4" src="../img/{{membres.urlPhoto.url1}}" alt="" data-toggle="modal" data-target="#picModal">
                            <img class="img-fluid col-12 col-md-4" src="../img/{{membres.urlPhoto.url2}}" alt="" data-toggle="modal" data-target="#picModal">
                            <img class="img-fluid col-12 offset-md-2 col-md-4" src="../img/{{membres.urlPhoto.url3}}" alt="" data-toggle="modal" data-target="#picModal">
                            <img class="img-fluid col-12 col-md-4" src="../img/{{membres.urlPhoto.url4}}" alt="" data-toggle="modal" data-target="#picModal">
                            <img class="img-fluid col-12 offset-md-2 col-md-4" src="../img/{{membres.urlPhoto.url5}}" alt="" data-toggle="modal" data-target="#picModal">
                            <img class="img-fluid col-12 col-md-4" src="../img/{{membres.urlPhoto.url6}}" alt="" data-toggle="modal" data-target="#picModal">
                            <img class="img-fluid col-12 offset-md-2 col-md-4" src="../img/{{membres.urlPhoto.url7}}" alt="" data-toggle="modal" data-target="#picModal">
                            <img class="img-fluid col-12 col-md-4" src="../img/{{membres.urlPhoto.url8}}" alt="" data-toggle="modal" data-target="#picModal">
                            <img class="img-fluid col-12 offset-md-2 col-md-4" src="../img/{{membres.urlPhoto.url9}}" alt="" data-toggle="modal" data-target="#picModal">
                            <img class="img-fluid col-12 col-md-4" src="../img/{{membres.urlPhoto.url10}}" alt="" data-toggle="modal" data-target="#picModal">
                        </div>
                    </div>

                    <div id="videos" class="row col-12">
                        <div class="col-12 col-md-6 vidContent d-flex flew-wrap justify-content-around">
                            <iframe src="https://player.vimeo.com/video/{{membres.urlVideo.url1}}" frameborder="0">
                            </iframe>
                        </div>
                        <div class="col-12 col-md-6 vidContent d-flex flew-wrap justify-content-around">
                            <iframe src="https://player.vimeo.com/video/{{membres.urlVideo.url2}}" frameborder="0">
                            </iframe>
                        </div>
                        <div class="col-12 vidContent d-flex flew-wrap justify-content-around">
                            <iframe src="https://player.vimeo.com/video/{{membres.urlVideo.url3}}" frameborder="0">
                            </iframe>
                        </div>
                    </div>

                </div>  
            </div>
        </div>        

    </div>
</section>