<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/visuel">Visuel <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/prog">Programmé avec</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/article">Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/logo">Logo</a>
      </li>
    </ul>
  </div>
</nav>

<section class="col-12 text-center">
  <form action="/admin/uploadArticle" method="POST" enctype="multipart/form-data">
    <input type="file" name="uploadArticle"><br><br>
    <input type="submit" value="Upload">
  </form>
</section>

<section>
    <form action="/admin/article" method="POST">
        <div class="row text-center">
            <div class="col-6">
                <input type="text" name="url" placeholder="image url" value=""><br><br>
                <input type="text" name="titre" placeholder="titre" value=""><br><br>
                <input type="text" name="date" placeholder="date" value=""><br><br>
                <textarea type="text" name="description" placeholder="description" value=""></textarea><br><br>
                <input type="text" name="url1" placeholder="image url1" value=""><br><br>
                <input type="text" name="url2" placeholder="image url2" value=""><br><br>
                <input type="text" name="url3" placeholder="image url3" value=""><br><br>
                <input type="text" name="url4" placeholder="image url4" value=""><br><br>
                <input type="text" name="url5" placeholder="image url5" value=""><br><br>
                <input type="submit" value="Envoyer">
                <p>{{description}}</p>
            </div>
            {{!-- Tous les articles --}}
            <div class="row col-6">
                {{#each articles}}
                <div class="col-6">
                  <h4>{{this.titre}}</h4>
                  <p>{{this.date}}</p>
                  <a href="edit-article/{{this._id}}">Modifier</a>
                  <a href="delete-article/{{this._id}}">Supprimer</a><hr>
                </div>
                {{/each}}
            </div>
        </div>
    </form>
</section>