<nav id="navigation" class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/visuel">Visuel <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/prog">Programmé avec</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/article">Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/logo">Logo</a>
      </li>
    </ul>
  </div>
</nav>

<section class="row text-center">
  <div class="col-12 col-md-6">
    <form action="/admin/edit-article/{{article._id}}" method="POST">
        <input type="text" name="url" placeholder="url" value="{{article.url}}"><br><br>
        <input type="text" name="titre" placeholder="titre" value="{{article.titre}}"><br><br>
        <input type="text" name="date" placeholder="date" value="{{article.date}}"><br><br>
        <textarea type="text" name="description" placeholder="description">{{article.description}}</textarea><br><br>
        <input type="text" name="url1" placeholder="url1" value="{{article.photos.url1}}"><br><br>
        <input type="text" name="url2" placeholder="url2" value="{{article.photos.url2}}"><br><br>
        <input type="text" name="url3" placeholder="url3" value="{{article.photos.url3}}"><br><br>
        <input type="text" name="url4" placeholder="url4" value="{{article.photos.url4}}"><br><br>
        <input type="text" name="url5" placeholder="url5" value="{{article.photos.url5}}"><br><br>
        <input type="submit" value="Envoyer">
    </form>
  </div>
  <div class="col-12 col-md-6 text-center">
    <b>URL : </b> <img src="../../img/{{article.url}}" alt="" style="height: 200px;"><br><br>
    <b>Titre : </b> <b>{{article.titre}}</b><br><br>
    <b>Date : </b> <b>{{article.date}}</b><br><br>
    <b>Description : </b> <b>{{article.description}}</b><br><br>
    <b>URL1 : </b> <img src="../../img/{{article.photos.url1}}" alt="" style="height: 200px;"><br><br>
    <b>URL2 : </b> <img src="../../img/{{article.photos.url2}}" alt="" style="height: 200px;"><br><br>
    <b>URL3 : </b> <img src="../../img/{{article.photos.url3}}" alt="" style="height: 200px;"><br><br>
    <b>URL4 : </b> <img src="../../img/{{article.photos.url4}}" alt="" style="height: 200px;"><br><br>
    <b>URL5 : </b> <img src="../../img/{{article.photos.url5}}" alt="" style="height: 200px;"><br><br>
  </div>
</section>