<nav id="navigation" class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/visuel">Visuel <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/prog">Programmé avec</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/article">Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/logo">Logo</a>
      </li>
    </ul>
  </div>
</nav>

<section class="col-12 text-center">
  <form action="/admin/uploadVisuel" method="POST" enctype="multipart/form-data">
    <input type="file" name="upload1"><br><br>
    <input type="file" name="upload2"><br><br>
    <input type="file" name="upload3"><br><br>
    <input type="file" name="upload4"><br><br>
    <input type="submit" value="Upload">
  </form>
</section>

<form action="/admin/visuel" method="POST">
  <section id="visuel" class="row">
    <div class="col-6">
      {{#each visuels}}
      <input value="{{this.video}}" class="offset-2 col-8" type="text" name="video" placeholder="Video" style="margin-top: 180px;">
    </div>
    <div class="col-6">
      <video autoplay="" muted src="{{this.video}}" style="height:400px;"></video>
    </div>

    <div class="col-6">
      <input value="{{this.transition1}}" class="offset-2 col-8" type="text" name="transition1" placeholder="Transition n°1" style="margin-top: 180px;">
    </div>
    <div class="col-6">
    <img src="../img/{{this.transition1}}" alt="" style="height: 400px;">
    </div>

    <div class="col-6">
      <input value="{{this.transition2}}" class="offset-2 col-8" type="text" name="transition2" placeholder="Transition n°2" style="margin-top: 180px;">
    </div>
    <div class="col-6">
    <img src="../img/{{this.transition2}}" alt="" style="height: 400px;">
    </div>

    <div class="col-6">
      <input value="{{this.transition3}}" class="offset-2 col-8" type="text" name="transition3" placeholder="Transition n°3" style="margin-top: 180px;">
    </div>
    <div class="col-6">
    <img src="../img/{{this.transition3}}" alt="" style="height: 400px;">
    {{/each}}
    </div>
    <div class="offset-5">
      <input type="submit" name="" id="" value="Envoyer">
    </div>
  </section>
  <b>{{description}}</b>
</form>